footer{
    display: flex;
    background-color:  rgb(133, 40, 40) ;
    padding: 2%;
    text-align: center;
    position: absolute;
    width: 100%;
    justify-content:space-around;

    .foterdiv{
        display: flex;
        color: white;
        font-family:Verdana, Geneva, Tahoma, sans-serif;     
        }
    .redes{ display: flex;
        
        ul{
            transform: rotate(45deg);
           a{
             margin: 20px;            
            }
          }
    }
}
    
